
/*
----------------
----------------
Général
----------------
----------------
*/

:root {
    --text-h1: 2.5rem;
    --text-h2: 2rem;
    --text-h3: 1.15rem;
    --text-p:  1rem;

    --black: #0a0a0a;
    --black-shade-1: #343434;
    --black-shade-2: #454545;
    --black-shade-3: #5B5B5B;   

    --white: #f5f5f5;
    --white-shade-1: #BEBEBE;
    --white-shade-2: #ABABAB;
    --white-shade-3: #7D7D7D;    

    --font: "Plus Jakarta Sans", sans-serif;

    --header-height: 72px;
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--white);
    color: var(--black);
}


ul, a, button {
    background-color: unset;
    color: unset;
    text-decoration: none;
    border: none;
    list-style: none;
}

h1 {
    font-size: var(--text-h1);
    font-weight: 800;
}

h2 {
    font-size: var(--text-h2);
    font-weight: 600;
}

h3 {
    font-size: var(--text-h3);
    font-weight: 600;
}

p, span, a {
    font-size: var(--text-p);
}

span.material-icons {
    font-size: var(--text-h3);
}

section {
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
}


footer {
    padding: 1.5rem;
}

.main-container p {
    max-width: 800px;
}

/*
----------------
----------------
HEADER
----------------
----------------
*/

header {
    top: 0;
    position: sticky;
    z-index: 999;

    width: 100%;
    height: var(--header-height);

    background-color: var(--white);
    border-bottom: 1px solid var(--white-shade-1);
}

.navbar {
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    max-width: 80rem;
}

        

.navbar .logo {
    display: flex;
}

.logo img {
    height: 40px;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 1.375rem;
  height: 2px;
  background: var(--black);
  font-size: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/* ANIMATION */

.burger[aria-expanded="true"] span:nth-child(1) {
  transform: translateY(6.5px) rotate(45deg);
}

.burger[aria-expanded="true"] span:nth-child(2) {
  opacity: 0;
}

.burger[aria-expanded="true"] span:nth-child(3) {
  transform: translateY(-6.5px) rotate(-45deg);
}

.nav-links {
    display: none;
    opacity: 0;  
}

.nav-links.open {
    animation: fadeIn 0.2s ease forwards;
    display: flex;
    position: absolute;

    top: 100%;
    left: 0;
    width: 100%;
    margin: 1px 0 0 0;
    padding: 2.5rem;

    text-align: center;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--white);
    border-bottom: 1px solid var(--white-shade-1);
}

.nav-links.closing {
    display: flex;
    animation: fadeOut 0.2s ease forwards;
}

.nav-links li a {
    font-size: 1.2rem;
}

.nav-links li a:hover {
    color: var(--black);
}

@keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/*
----------------
----------------
CONTACT BUTTON
----------------
----------------
*/

.contact-button {
    margin-top: 2rem;
    padding: 0;
}

.contact-button a {
    display: block;
    width: fit-content;
    padding: 0.8rem 1.4rem;

    color: var(--white);
    background-color: var(--black);
    border: 3px solid var(--black);

    transition: background-color 0.3s, color 0.3s;
}

.contact-button a:hover {
    background-color: var(--white);
    color: var(--black);   
}

/*
----------------
----------------
DIVIDER
----------------
----------------
*/




/*
----------------
----------------
HERO
----------------
----------------
*/

#hero-section {
    height: calc(100vh - var(--header-height));
    position: relative;
}


#hero-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("../images/layout.webp");
    background-size: cover;
    background-position: 30%;
    opacity: 0.2;
    z-index: 0;
}

#hero-section .main-container {
    position: absolute;
    bottom: 10vh;
    z-index: 1;
}

#hero-section .hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#hero-section span.bullet,span.text {
    color: var(--black);
}

#hero-section span.bullet {
    font-size: 0.7rem;
}

#hero-section .list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#hero-section .list-item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}


/*
----------------
----------------
SKILL
----------------
----------------
*/



#skill-section .main-container {
    display: flex;
    flex-direction: column;
}

#skill-section .skill-container {
    display: grid;
    gap: 2rem;
    margin: 3rem auto;
}

div.skill-container .grid-item {
    display: flex;
    align-items: center;

    outline: 2px solid var(--white-shade-2);
    padding: 1.5rem;
    transition: background-color 0.3s;
    
}

div.skill-container .grid-item:hover {
    outline: 3px solid var(--black-shade-1);    
    background-color: var(--white-shade-1);
    cursor: default;
}

#skill-section .text-skill {
    margin: 0.7rem 0.7rem  0.7rem 0;
}

img.skill {
    width: 40%;
    display: none;
}

/*
----------------
----------------
SERVICE
----------------
----------------
*/

#service-section {
    color: var(--white-shade-1);
    background-color: var(--black);
}


#service-section .contact-button a {
    color: var(--black);
    background-color: var(--white-shade-1);
    border-color: var(--white-shade-1);
}

#service-section .contact-button a:hover {
    color: var(--white-shade-1);
    background-color: var(--black);
}


/*
----------------
----------------
VALUE
----------------
----------------
*/

#value-section {
    color: var(--white-shade-1);
    background-color: var(--black);    
}


#value-section .value-container {
    display: grid;

    gap: 1px;
    background-color: var(--black-shade-2);
    border: 1px solid var(--black-shade-2);

    width: fit-content;
    margin: 3rem auto;
}   


#value-section .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem 3rem;

    background-color: var(--black);
}

#value-section .title {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 1.5rem;
}

#value-section .text-value {
    margin: 0.7rem 0.7rem  0.7rem 0;
}


/*
----------------
----------------
TEAM
----------------
----------------
*/

#team-section {
    position: relative;
}

#team-section::before {
    content: "";
    z-index: -1;
    opacity: 0.25;
    position: absolute;
    opacity: 0.6;
    background-image:  radial-gradient(var(--white-shade-1) 0.75px, transparent 0.75px), radial-gradient(var(--white-shade-1) 0.75px, rgba(229,229,247,0) 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,45px 45px;
    inset: 0;
}




#team-section .team-container {
    display: grid;
    gap: 2rem;
    width: 100%;
}

#team-section .grid-item {
    display: flex;
    justify-self: center;
    align-items: center;

    height: 9.4rem;
    width: 100%;
    max-width: 24rem;

    background-color: var(--white);
    border: 1px solid var(--white-shade-1);
}


#team-section .info-container {
    display: flex;
    flex-direction: column;

    gap: 0.3rem;
    padding: 1.5rem;
    width: 100%;
}


#team-section .icon-team {
    color: var(--main-color);
    font-size: 1.4rem;
}

#team-section .image-team {
    display: block;
    height: 100%;
}

#team-section .team-name {
    margin: 0;
}

#team-section .linkedin-container {
    display: flex;
    width: fit-content;
    color: var(--black);
}

#team-section .linkedin-icon {
    height: 1.6rem;
    color: var(--white-shade-3);
}

#team-section .linkedin-icon:hover {
    color: var(--black);
}

/*
----------------
----------------
CONTACT
----------------
----------------
*/

#contact-section {
    padding-bottom: 9rem;
    position: relative;
}

#contact-section::before {
    content: "";
    z-index: -1;
    opacity: 0.25;
    position: absolute;
    opacity: 0.6;
    background-image:  radial-gradient(var(--white-shade-1) 0.75px, transparent 0.75px), radial-gradient(var(--white-shade-1) 0.75px, rgba(229,229,247,0) 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,45px 45px;
    inset: 0;
}

#contact-section .section-header {
    padding-bottom: 0;
}

/*
----------------
----------------
FOOTER
----------------
----------------
*/

footer {
    background-color: var(--black);
}

div.footer {
    width: 100%;
    max-width: 80rem;
    justify-self: center;
}

footer .footer-container {
    display: flex;
    align-items: center;
    color: var(--white);
}

footer .footer-logo {
    height: 3.7rem;
}


@media screen and (min-width: 650px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3, span.icon-value {
        font-size: 1.75rem;
    }

    p, span, .contact-button a {
        font-size: 1.3rem;
    }


    section {
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    .section-header {
        padding-bottom: 2rem ;
    }

    .contact-button a {
        padding: 0.9rem 1.5rem;
    }

    /* SKILL */

    #skill-section .skill-container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    #skill-section .grid-item {
        flex-direction: column-reverse;
        justify-content: left;
        gap: 1.5rem;
    }

    #skill-section .skill {
        display: block;
        height: 8rem;
        width: unset;
    }

    /* VALUE */

    #value-section .value-container {
        grid-template-columns: 1fr;
    }

    #value-section .grid-item {
        padding: 3rem;
    }

    /* TEAM */

    #team-section .section-header h2 {
        text-align: center;
    }

    #team-section .info-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #team-section .grid-item {
        height: 12.5rem;
        max-width: 32rem;
    }
}

@media screen and (min-width: 1000px) {

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3, span.icon-value {
        font-size: 2.5rem;
    }

    p, span, .contact-button a {
        font-size: 1.3rem;
    }
  

    .contact-button a {
        padding: 1rem 1.6rem;
    }

    #hero-section {
        justify-content: center;
    }

    #hero-section .main-container {
        position: unset;
    }

    .main-container,
    footer .footer-container {
        width: 100%;
        max-width: 80rem;
    }

    header, footer {
        padding-left: 100px;
        padding-right: 100px;  
    }

    nav.navbar {
        padding-left: 0;
        padding-right: 0;
    }

    footer {
        padding: 3rem 100px;
    }

    section {
        padding: 7rem 100px;
        align-items: center;
    }

    .section-header {
        padding-bottom: 4rem ;
    }


    .section-description {
        width: 700px;
        font-size: 1.6rem;
    }

    /* SKILL */

    #skill-section .skill-container {
        grid-template-columns: 1fr 1fr;
    }

    #skill-section .grid-item {
        flex-direction: column-reverse;
        justify-content: start;
        gap: 2rem;
        padding: 2rem;
    }

    #skill-section .index {
        font-size: 1.3rem;
    }

    #skill-section .skill {
        height: 10rem;
    }

    /* VALUE */

    #value-section .value-container {
        grid-template-columns: 1fr 1fr;
    }

    #value-section .grid-item {
        gap: 4rem;
        padding: 4rem;
    }

    /* TEAM */

    #team-section .team-container {
        grid-template-columns: 1fr;
    }

    #team-section .grid-item {
        height: 16rem;
        max-width: 40rem;
    }


    /* HEADER & NAV */

    .burger {
        display: none;
    }

    .navbar {
        padding: 1rem 6.25rem;
    }

    .nav-links {
        display: flex;
        position: unset;
        flex-direction: row;
        opacity: 1;
        width: unset;
        padding: 0;
        margin: 0;
        gap: 1.25rem;
        background-color: unset;
        border-bottom: unset;
    }

    header a.link{
        position: relative
    }

    header a.link::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.2rem;
        background-color: var(--black);
        width: 0px;
        height: 3px;
        transition: width 0.2s;
    }

    header a.link:hover::after {
        width: 100%;
    }
}


@media screen and (min-width: 1400px) {

    section {
        padding-top: 9rem;
        padding-bottom: 9rem;

    }  

    .section-header {
        padding-bottom: 6rem ;
    }

    #skill-section .skill-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
